#div1 {
background-color: rgb(244, 247, 246); /* Soft Gray */
    font-family: 'Segoe UI', Arial, sans-serif;
    color: rgb(51, 51, 51); /* Charcoal Text */
    line-height: 1.6;
    margin: 0;
    padding: 40px;
}

h2 {
    color: blue;
    border-bottom: 2px solid rgb(230, 230, 230);
    padding-bottom: 5px;
}

h3 {
    color: indianred;
    border-bottom: 2px solid rgb(230, 230, 230);
    padding-bottom: 5px;
}
#footer1 {
    font-style: italic;
    font-weight: bold;
    color: brown;
}

h1 {
    color: red;
    animation: animation1 10s ease-in 0s infinite;

}
#p1,h2,h3 {
       animation: animation1 12s ease-in 0s infinite;
       font-size: large;
}

@keyframes animation1 {
    
        /* from {font-size: 40px;}
        to {font-size: 60px;} */

        0% {color: darkblue;}
        25% {color: brown;}
        50% {color: green;}
        75% {color: chocolate;}
        100% {color: indigo;}
    
    
}


